global
    maxconn 10000

defaults
    mode tcp
    timeout connect 2s
    timeout client  5s
    timeout server  5s
    option          tcplog

frontend rinha
    bind *:9999
    default_backend apis

backend apis
    balance roundrobin
    server api1 api1:3000 check inter 1s
    server api2 api2:3000 check inter 1s
